* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "RZ Regular";
  overflow-x: hidden;
}
.wrapper .page1 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url(./assests/pexels-andrea-piacquadio-3755706.jpg);
  background-size: cover;
  background-position: center;
}
.cursor {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: gray;
  position: fixed;
  z-index: 999;
  display: flex;
  mix-blend-mode: difference;
  align-items: center;
  justify-content: center;
  font-size: 1.2vw;
  background-color: rgba(255, 192, 203, 0.475);
}
.nav {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  backdrop-filter: blur(4px);
  background-color: rgba(227, 230, 243, 0.539);
  box-shadow: 0px 15px 20px lightgray;
  z-index: 99;
}
.nav .cart {
  width: 2.3vw;
}
.nav .part3 {
  display: flex;
  gap: 8px;
  position: absolute;
  right: 5%;
  align-items: center;
}
.nav img {
  width: 10vw;
}
.nav .hmb {
  display: none;
}
.hmb .line {
  width: 3.3vw;
  color: black;
  height: 1.7px;
  margin-top: 0.6vw;
  background-color: black;
}
.hmb .line:nth-child(1) {
  width: 2.5vw;
  color: black;
  height: 1.7px;
  margin-top: 0.6vw;
  background-color: black;
}
.hmb .line:nth-child(3) {
  width: 2.5vw;
  color: black;
  height: 1.7px;
  margin-top: 0.6vw;
  background-color: black;
}
.nav .part3 img {
  width: 2vw;
}
.nav a {
  text-decoration: none;
  font-size: 1.1vw;
  font-weight: 300;
  color: black;
}
.nav-cont {
  margin: 2vw 1vw;
  border-radius: 20px;
  position: fixed;
  width: 100%;
  height: 50vh;
  background-color: rgb(227, 230, 243);
  background-clip: blur(10px);
  top: 8.5%;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5vw;
  padding: 4vw 6vw;
  visibility: hidden;
  transition: all ease-in-out 0.6s;
}
.nav-cont a {
  margin-top: 1vw;
  font-size: 4vw;
  color: black;
  text-decoration: none;
}
.nav-cont .close {
  position: absolute;
  top: 3vw;
  left: 6vw;
  font-size: 4vw;
}
.text-cont {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 8vw;
  gap: 5px;
}
.text-cont h1 {
  color: white;
  font-weight: 550;
}
.text-cont h1:nth-child(4) {
  color: white;
  font-size: 1.7vw;
}
.text-cont h1:nth-child(1) {
  font-size: 1.4vw;
}
.text-cont h1:nth-child(2) {
  font-size: 4vw;
}
.text-cont h1:nth-child(3) {
  font-size: 4vw;
  font-weight: 1000;
  letter-spacing: 2px;
  color: lightgray;
  width: 50%;
}
.text-cont a {
  text-decoration: none;
  font-size: 1.3vw;
  color: white;
  padding: 1.4vw 3vw;
  background:lightpink;border-radius: 10px 10px 0px 0px;
  width: 13vw;
  margin-top: 30px;
}
.nav .part2 {
  display: flex;
  gap: 3vw;
  padding: 0vw 4vw;
  align-items: center;
}
.page2 {
  width: 100vw;
  min-height: 100vh;
}
.page2 .features {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  width: 100%;
  min-height: 50vh;
  gap: 30px;
  padding: 0 4vw;
  align-items: center;
}
.features .f {
  height: 35vh;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  transition: all ease-in 0.2s;
  border-radius: 15px;
}
.features .f:hover {
  scale: 1.07;
  box-shadow: 20px 10px 40px #5a5a5a, -20px -20px 60px #ffffff;
}
.f h1 {
  font-size: 1.3vw;
  font-weight: 100;
  letter-spacing: 1px;
}
.f-products {
  width: 100%;
  min-height: 100vh;
  display: flex;
  padding: 5vw 3vw;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}
.f-products .f-prh1 {
  font-size: 4vw;
  font-weight: 800;
  background: linear-gradient(to bottom, gray, rgb(219, 216, 216));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.f-products p {
  font-size: 1.25vw;
  color: gray;
}
.f-products .items {
  display: grid;
  width: 100%;
  min-height: 130vh;
  grid-template-columns: auto auto auto auto;
  gap: 35px;
  justify-content: center;
  position: relative;
  padding: 4vw 0;
}
.items .div {
  width: 19vw;
  height: 27vw;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  position: relative;
  padding: 0.8vw 1.4vw;
  position: static;
  gap: 10px;
  transition: all ease 0.2s;
  border: 1px solid lightgray;
}

.div img {
  border-radius: 16px;
  position: static;
}
.div .cart {
  position: absolute;
  width: 2vw;
  bottom: 5%;
  right: 7%;
}
.div .brand {
  font-size: 1.2vw;
  color: gray;
}
.div:hover {
  scale: 1.02;
  border: none;
  box-shadow: 20px 20px 60px #5a5a5a, -20px -20px 60px #ffffff;
}
.div .product {
  font-size: 1.2vw;
}
.div .price {
  font-size: 1.3vw;
  letter-spacing: 2px;
}
.page2 .banner_page2 {
  width: 100%;
  height: 38vh;
  background: url(./assests/banner/b2.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.banner_page2 h1 {
  color: white;
}
.banner_page2 h1:nth-child(1) {
  font-size: 1.2vw;
}
.banner_page2 h1:nth-child(2) {
  font-size: 2.7vw;
  font-weight: 800;
}
.banner_page2 a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 1vw 2vw;
  border-radius: 10px;
}
.banner_page2 a:hover {
  background: linear-gradient(to bottom, grey, lightgrey);
}
.page3 {
  width: 100%;
  min-height: 100vh;
}
.page3 .new-arr {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3vw 0px;
  gap: 10px;
}
.page3 .arrival {
  font-size: 4vw;
  font-weight: 800;
  background: linear-gradient(to bottom, gray, rgb(219, 216, 216));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.page3 .collection {
  font-size: 1.25vw;
  color: gray;
}
.page3 .items {
  display: grid;
  width: 100%;
  min-height: 130vh;
  grid-template-columns: auto auto auto auto;
  gap: 35px;
  justify-content: center;
  position: relative;
  padding: 4vw 0;
}
.page4 {
  width: 100%;
  min-height: 100vh;
}
.banner {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.banner .banner_1 {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-around;
}
.ban-1 {
  width: 37%;
  height: 50vh;
  background: url(./assests/banner/b17.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 0 2vw;
  gap: 7px;
}
.ban-1 h1:nth-child(1) {
  font-size: 1.36vw;
  color: gray;
  font-weight: 700;
}
.ban-1 h1:nth-child(2) {
  font-size: 1.9vw;
  letter-spacing: 1px;
}
.ban-1 h1:nth-child(3) {
  font-size: 1.3vw;
}
.ban-1 a {
  padding: 1vw;
  color: white;
  border: 2px solid white;
  width: 8.8vw;
  text-decoration: none;
  margin-top: 1vw;
  font-size: 1.2vw;
}
.ban-2 {
  width: 37%;
  height: 50vh;
  background: url(./assests/banner/b10.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 0 2vw;
  gap: 7px;
}
.ban-2 h1:nth-child(1) {
  font-size: 1.36vw;
  color: white;
  font-weight: 700;
}
.ban-2 h1:nth-child(2) {
  font-size: 1.9vw;
  letter-spacing: 2px;
}
.ban-2 h1:nth-child(3) {
  font-size: 1.3vw;
}
.ban-2 a {
  padding: 1vw 1.3vw;
  color: white;
  width: 8vw;
  text-decoration: none;
  margin-top: 1vw;
  transition: all ease-in-out 0.3s;
  border: 2px solid white;
  font-size: 1.2vw;
}
.ban-2 a:hover {
  background-color: rgb(45, 154, 45);
}
.banner .banner_2 {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  gap: 45px;
  padding: 0 6vw;
  justify-content: space-between;
}
.banner_2 .ban-1 {
  width: 30%;
  height: 48vh;
  background: url(./assests/banner/b7.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 0 2vw;
  gap: 7px;
}
.banner_2 .ban-1 h1:nth-child(1) {
  text-transform: uppercase;
  font-size: 1.9vw;
  color: white;
}
.banner_2 .ban-1 h1:nth-child(2) {
  font-size: 1vw;
  color: white;
}
.banner_2 .ban-2 {
  width: 30%;
  height: 48vh;
  background: url(./assests/banner/b4.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 0 2vw;
  gap: 7px;
}
.banner_2 .ban-2 h1:nth-child(1) {
  text-transform: uppercase;
  font-size: 1.9vw;
  color: white;
}
.banner_2 .ban-2 h1:nth-child(2) {
  font-size: 1vw;
  color: white;
}
.banner_2 .ban-3 {
  width: 30%;
  height: 48vh;
  background: url(./assests/banner/b18.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 0 2vw;
  gap: 7px;
}
.banner_2 .ban-3 h1:nth-child(1) {
  text-transform: uppercase;
  font-size: 1.9vw;
  color: white;
}
.banner_2 .ban-3 h1:nth-child(2) {
  font-size: 1vw;
  color: white;
}
.page4 .newsletter {
  width: 100%;
  height: 25vh;
  background: linear-gradient(
    to bottom right,
    rgb(204, 204, 219),
    rgb(87, 87, 215)
  );
  margin-top: 4vw;
  display: flex;
  padding: 0vw 5vw;
  justify-content: center;
  flex-direction: column;
}
.page4 .newsletter .sign_up {
  font-size: 1.7vw;
  color: white;
}
.newsletter .updates {
  display: flex;
  gap: 16vw;
  align-items: center;
  position: relative;
}
.newsletter .update {
  font-size: 1.2vw;
}
.updates input {
  border: none;
  padding: 1vw;
  width: 23vw;
  color: gray;
  font-size: 1.1vw;
}
.page4 .updates h1 {
  font-size: 1.2vw;
  color: white;
}
input:focus {
  outline: none !important;
}
.updates a {
  background-color: aqua;
  position: absolute;
  right: 13.2vw;
  font-size: 1vw;
  padding: 1.02vw;
  cursor: pointer;
}
*::selection {
  color: white;
  background-color: gray;
}
.page4 .footer {
  width: 100%;
  min-height: 48vh;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 7vw 5vw;
  gap: 35px;
}
.footer .cont {
  height: 45vh;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cont .styl1 {
  font-size: 1vw;
  margin-bottom: 1vw;
  letter-spacing: 1.5px;
}
.cont .styl2 {
  font-size: 1vw;
  color: gray;
  text-decoration: none;
  margin-top: 0.5vw;
  cursor: pointer;
}
#div1 h1:nth-child(6) {
  color: black;
  margin-top: 1vw;
}
.media_cont {
  display: flex;
  gap: 15px;
}
.media_cont .media {
  width: 1.8vw;
}
.cont img {
  width: 10vw;
}
#div4 .download {
  display: flex;
  flex-direction: column;
}
#div4 .download img {
  width: 9vw;
}
#div4 .payment img {
  width: 16vw;
  margin-top: 1vw;
}
.designed-cont {
  width: 100%;
  overflow: hidden;
  height: 38px;
}
.designed-cont:hover h1 {
  transform: translateY(-100%);
  color: gray;
}
.designed {
  transition: all ease-in 0.3s;
  font-size: 2vw;
  color: black;
  font-weight: 300;
}
.s_page1 {
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.s_page1 .nav {
  width: 100vw;
  height: 11vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 0 5vw;
  backdrop-filter: blur(4px);
  background-color: rgba(227, 230, 243, 0.539);
  box-shadow: 0px 20px 35px lightgray;
  z-index: 102;
}
.s_page1 .ban {
  width: 100%;
  height: 41vh;
  margin-top: 5vw;
  background-image: url(./assests/banner/b1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.s_page1 .ban h1:nth-child(1) {
  color: white;
  font-size: 2vw;
}
.s_page1 .ban h1:nth-child(2) {
  color: rgba(255, 255, 255, 0.626);
  font-size: 1.3vw;
}
.s_page1 .items {
  width: 100%;
  min-height: 140vh;
  display: grid;
  gap: 3vw;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  padding: 6vw 0;
}
.s_page1 .pagination {
  display: flex;
  width: 10vw;
  height: 7vh;
  gap: 10px;
  transform: translateX(40vw);
  margin-top: 2vw;
}
.pagination .page {
  width: 30%;
  height: 7vh;
  background-color: seagreen;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  color: white;
  cursor: pointer;
}
.s_page2 {
  width: 100%;
  min-height: 110vh;
}
.s_page2 .newsletter {
  display: flex;
  padding: 0 5vw;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 30vh;
  background: linear-gradient(
    to bottom right,
    rgb(204, 204, 219),
    rgb(87, 87, 215)
  );
}

.s_page2 .newsletter h1 {
  color: white;
}
.s_page2 .footer {
  padding: 5vw 0;
  align-items: center;
  justify-content: space-around;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.s_page1 .cont {
  width: 100%;
  min-height: 120vh;
  display: flex;
  gap: 30px;
  margin-top: 6vw;
  padding: 4vw 5vw;
}
.s_page1 .cont .img_cont {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 35%;
  height: 77vh;
}
.img_cont img {
  width: 100%;
  height: 57vh;
  background-size: cover;
  background-position: center;
}
.img_cont .more_img {
  display: flex;
  gap: 10px;
}
.img_cont .more_img img {
  width: 36%;
  height: 15vh;
}
.s_page1 .cont .details {
  padding: 2vw;
  display: flex;
  flex-direction: column;
  gap: 17px;
  width: 60%;
  height: 80vh;
}
.details h1:nth-child(1) {
  font-size: 1.3vw;
}
.details h1:nth-child(2) {
  font-size: 2vw;
}
.details h1:nth-child(3) {
  font-size: 1.5vw;
}
.details select {
  color: gray;
  width: 25%;
  padding: 0.7vw;
  font-size: 1.1vw;
  border: 1px solid gray;
}
.details select:focus {
  outline: none !important;
}
.details .size {
  display: flex;
  gap: 10px;
}
.size a {
  color: white;
  text-decoration: none;
  font-size: 1.1vw;
  padding: 0.8vw 1.5vw;
  background-color: seagreen;
}
.size .quant {
  width: 3vw;
  color: white;
  height: 3vw;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
.details p {
  font-size: 1.2vw;
}
.b_page1 {
  width: 100%;
  min-height: 100vh;
}
.b_page1 .ban {
  margin-top: 5vw;
  width: 100%;
  height: 35vh;
  background-image: url(./assests/banner/b19.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
  gap: 15px;
}
.b_page1 .ban h1 {
  color: white;
}
.b_page1 .ban h1:nth-child(2) {
  font-size: 1.8vw;
}
.b_page1 .ban h1:nth-child(1) {
  font-size: 2.8vw;
}
.b_page1 .blog {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 4vw 0;
}
.b_page1 .blog .blog-cont {
  width: 80%;
  height: 48vh;
  position: relative;
  display: flex;
  gap: 35px;
  align-items: center;
}
.b_page1 .blog .blog-cont .date {
  font-size: 3vw;
  transform: translateY(25%);
  z-index: -1;color: rgba(128, 128, 128, 0.61);
  letter-spacing: 3px;
  font-weight: 800;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.b_page1 .blog .img-blog_cont {
  width: 35%;
  color: gray;position: relative;z-index: 1;
}
.b_page1 .blog .text-blog_cont {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.b_page1 .blog .text-blog_cont h1 {
  font-size: 2vw;
}
.b_page1 .blog .text-blog_cont p {
  font-size: 1.2vw;color: gray;
}
.b_page1 .blog .blog-cont img {
  width: 100%;
  height: 38vh;background-position: right;
}
.b_page1 .blog .blog-cont.blog-img{
  width: 100%;
  height: 38vh;
}
.b_page1 .blog .text-blog_cont button {
  background-image: url(./assests/button.png);
  width: 30%;
  border: none;
  padding: 2vw;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  font-size: 1.2vw;
}
.b_page2{
  width: 100%;min-height: 100vh;
}
.a_page1{
  width: 100%;min-height: 100vh;
}
.a_page1 .ban{
  margin-top: 5vw;width: 100%;height: 35vh;
  background-image: url(./assests/about/banner.png);
  display: flex;align-items: center;justify-content: center;
  background-size: cover;background-position: center;
  flex-direction: column;
}
.a_page1 .ban h1:nth-child(1){
  font-size: 2.7vw;color: white;
}
.a_page1 .ban h1:nth-child(2){
  font-size: 1.7vw;color: white;
}
.a_page1 .cont{
  display: flex;
  width: 100%;height: 85vh;
  justify-content: center;align-items: center;
}
.a_page1 .cont img{
  width: 43%;height: 80%;
}
.a_page1 .cont h1{
  font-size: 3vw;color: black;
}
.a_page1 .cont .text-cont{
  width: 45%;
  height: 80%;
  display: flex;flex-direction: column;

  gap: 15px;
}
.a_page1 .cont .text-cont p{
  font-size: 1.3vw;
}
.a_page2{
  width: 100%;min-height: 90vh;
  padding: 7vw 0;
  display: flex;flex-direction: column;
  align-items: center;
}
.a_page2 h1{
  font-size: 3.5vw;text-align: center;
}
.a_page2 video{
  width: 70%;height: 80%;
  margin-top: 3vw;
}
.a_page2 .features{
  display: grid;grid-template-columns: auto auto  auto auto auto auto;
}
.a_page3{
  width: 100%;min-height: 110vh;
}
.a_page3 .features{
  padding:0 3vw;align-items: center;
  gap: 19px;height: 40vh;
  display: grid;grid-template-columns: auto auto auto auto auto auto;
}
.a_page3 .footer{
  height: 90vh;align-items: center;justify-content:space-around;
  display: grid;grid-template-columns: auto auto auto auto;
}
.c_page1{
  width: 100%;min-height: 100vh;
}
.c_page1 .ban{
  margin-top: 5vw;width: 100%;height: 35vh;
  background-image: url(./assests/about/banner.png);
  display: flex;align-items: center;justify-content: center;
  background-size: cover;background-position: center;
  flex-direction: column;
}
.c_page1 .ban h1:nth-child(1){
  font-size: 2.7vw;color: white;
}
.c_page1 .ban h1:nth-child(2){
  font-size: 1.7vw;color: white;
}
.c_page1 .map_text{
  width: 100%;height: 75vh;
  display: flex;gap: 35px;align-items: center;
  justify-content: center;
}
.c_page1 .map_text .text{
  width: 50%;display: flex;flex-direction: column;
 height: 60vh;
  gap: 15px;
}
.c_page1 .map_text .text h1:nth-child(1){
 text-transform: uppercase;color: gray;font-size: 1.2vw;
}
.c_page1 .map_text .text h1:nth-child(2){
color: black;font-size: 1.8vw
 }