@media screen and (max-width: 769px) {
  .nav-cont a {
    font-size: 3vw;
  }
  .nav-cont {
    height: 70vh;
  }
  .nav {
    justify-content: space-between;
    padding: 0 11vw;
  }
  .cursor {
    display: none;
  }
  .nav .part2 {
    display: none;
  }
  .nav .part3 .hmb {
    display: block;
  }
  .hmb .line {
    width: 3vw;
    color: black;
    height: 1.9px;
    margin-top: 0.6vw;
    background-color: black;
  }
  .nav .part3 img {
    width: 4vw;
  }
  .nav img {
    width: 13vw;
  }
  .page1 .text-cont h1:nth-child(2) {
    font-size: 3vw;
    letter-spacing: 1px;
  }
  .page1 .text-cont h1:nth-child(1) {
    font-size: 2.5vw;
  }
  .text-cont h1:nth-child(4) {
    font-size: 2.5vw;
  }
  .text-cont a {
    font-size: 2.5vw;
    padding: 1vw 2vw;
    width: 18vw;
    margin-top: 20px;
  }
  .page2 .features {
    grid-template-columns: auto auto auto;
    padding: 8vw 8vw;
  }
  .features .f h1 {
    font-size: 2vw;
  }
  .f-products .items {
    grid-template-columns: auto auto;
    gap: 35px;
    justify-content: center;
    position: relative;
    padding: 8vw 0;
  }
  .f-products .f-prh1 {
    font-size: 7vw;
  }
  .f-products p {
    font-size: 2.6vw;
  }
  .items .div {
    width: 35vw;
    height: 51vw;
    gap: 4px;
  }
  .items .div .price {
    letter-spacing: 0px;
  }
  .div .product {
    font-size: 2.8vw;
  }
  .div .brand {
    font-size: 2.5vw;
  }
  .div .price {
    font-size: 2vw;
    letter-spacing: 2px;
  }
  .page2 .banner_page2 h1:nth-child(1) {
    font-size: 2.5vw;
  }
  .page3 .arrival {
    font-size: 7vw;
  }
  .page3 .collection {
    font-size: 2.6vw;
  }
  .page3 .items {
    grid-template-columns: auto auto;
  }
  .page4 .banner_1 .ban-1 h1:nth-child(1) {
    font-size: 2vw;
  }
  .page4 .banner_1 .ban-1 {
    width: 50%;
  }
  .page4 #div4 .designed-cont h1:nth-child(2) {
    display: none;
  }
  .banner_1 .ban-2 {
    width: 50%;
  }
  .banner_1 {
    padding: 0 6vw;
  }
  .ban-1 h1:nth-child(3) {
    font-size: 2vw;
  }
  .ban-1 a {
    width: 13vw;
    font-size: 1.8vw;
  }
  .ban-2 a {
    width: 14vw;
    font-size: 1.5vw;
    padding: 1vw 3vw;
  }
  .ban-2 h1:nth-child(3) {
    font-size: 2vw;
  }
  .ban-2 h1:nth-child(1) {
    font-size: 2vw;
  }
  .page4 .banner_2 {
    gap: 30px;
  }
  .page4 .banner_2 .ban-1 {
    width: 35%;
  }
  .banner_2 .ban-1 h1:nth-child(2) {
    font-size: 1.8vw;
  }
  .banner_2 .ban-2 h1:nth-child(2) {
    font-size: 1.8vw;
  }
  .banner_2 .ban-3 h1:nth-child(2) {
    font-size: 1.8vw;
  }
  .banner_2 .ban-2 {
    width: 35%;
  }
  .banner_2 .ban-3 {
    width: 35%;
  }
  .page4 .newsletter h1 {
    font-size: 2vw;
  }
  .newsletter .updates input {
    font-size: 1.5vw;
    width: 27vw;
  }
  .newsletter .updates {
    gap: 9vw;
  }
  .newsletter .updates a {
    right: 0%;
    padding: 1.1vw;
    font-size: 1.4vw;
  }
  .page4 .footer {
    grid-template-columns: auto auto;
  }
  .page4 .footer .cont {
    height: 55vh;
  }
  .page4 .footer a {
    font-size: 2.7vw;
  }
  .page4 .footer #div1 .media_cont img {
    width: 4vw;
  }
  .page4 .footer #div4 .payment img {
    width: 30vw;
  }
  .page4 .footer .styl1 {
    width: 55%;
    font-size: 2.7vw;
  }
  .page4 .footer .styl2 {
    width: 55%;
    font-size: 2.3vw;
  }
  .page4 .footer .designed-cont h1:nth-child(2) {
    display: none;
  }
  .page4 .footer .designed-cont h1:nth-child(1) {
    font-size: 3vw;
  }
  .page4 .footer #div4 .payment {
    width: 26vw;
  }
  .footer .styl1 {
    font-size: 1.7vw;
    letter-spacing: 1px;
  }
  .footer .styl2 {
    font-size: 1.6vw;
    letter-spacing: 1px;
  }
  .footer #div1 img {
    width: 16vw;
  }
  .s_page1 .ban {
    margin-top: 8vw;
  }
  .s_page1 .items {
    padding: 7vw 0;
    gap: 6vw;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto;
  }
  .s_page1 .ban h1:nth-child(1) {
    font-size: 4vw;
  }
  .s_page1 .ban h1:nth-child(2) {
    font-size: 2.6vw;
  }
  .s_page1 .items .div {
    width: 35vw;
    height: 53vw;
  }
  .s_page2 .newsletter .sign_up {
    font-size: 2.7vw;
  }
  .s_page2 .newsletter .update {
    font-size: 3.4vw;
  }
  .s_page2 .newsletter .updates {
    gap: 4vw;
  }
  .s_page2 .newsletter input {
    width: 55%;
    font-size: 2vw;
  }
  .s_page2 .newsletter a {
    font-size: 2vw;
  }
  .s_page2 .footer {
    gap: 30px;
    justify-content: center;
    padding: 8vw 0;
    align-items: center;
    grid-template-columns: auto auto;
  }
  .s_page2 .footer #div1 .media_cont img {
    width: 4vw;
  }
  .s_page2 .footer .cont {
    height: 51vh;
  }
  .s_page2 .footer a {
    font-size: 2.7vw;
  }
  .s_page2 .footer .styl1 {
    width: 55%;
    font-size: 2.7vw;
  }
  .s_page2 .footer .styl2 {
    width: 55%;
    font-size: 2.3vw;
  }
  .s_page2 .footer .designed-cont h1:nth-child(2) {
    display: none;
  }
  .s_page2 .footer .designed-cont h1:nth-child(1) {
    font-size: 3vw;
  }
  .s_page2 .footer #div4 .payment {
    width: 26vw;
  }
 .s_page1 .cont{
  padding: 10vw 6vw;
 }
 .s_page1 .cont .img_cont{
  width: 65%;
 }
 .s_page1 .details h1:nth-child(1){
  font-size: 2.8vw;
 }
 .s_page1 .details h1:nth-child(2){
  font-size: 3.4vw;
 }
 .s_page1 .details h1:nth-child(3){
  font-size: 2.5vw;
 }
 .s_page1 .details select{
  font-size: 2vw;
 }
 .s_page1 .details p{
  font-size: 2vw;
 }
 .s_page1 .details .size a{
  font-size: 2vw;
 }
}
@media screen and (max-width: 426px) {
  .nav-cont {
    margin: 3vw 1vw;
  }
  .page1 .nav {
    height: 8vh;
  }
  .page2 .features .f{
    gap: 15px;
  }
  .page1 .line {
    width: 4vw;
    height: 1.4px;
  }
  .hmb .line:nth-child(1) {
    width: 3vw;
    color: black;
    height: 1.4px;
    margin-top: 0.8vw;
    background-color: black;
  }
  .hmb .line:nth-child(3) {
    width: 3vw;
    color: black;
    height: 1.4px;
    margin-top: 0.8vw;
    background-color: black;
  }
  .page1 .nav img {
    width: 20vw;
  }
  .page2 .features .f h1 {
    font-size: 2.8vw;
  }
  .nav .part3 img {
    width: 5vw;
  }
  .page1 .text-cont h1:nth-child(1) {
    font-size: 4.6vw;
  }
  .page1 .text-cont{
    height: 70vh;
  }
  .page1 .text-cont h1:nth-child(2) {
    font-size: 4.6vw;
  }
  .page1 .text-cont h1:nth-child(3) {
    font-size: 5vw;width: 70%;color: white;
  }
  .text-cont h1:nth-child(4) {
    font-size: 3.4vw;
  }
  .page2 .features {
    grid-template-columns: auto auto;
    padding: 13vw 7vw;
  }
  .f-products .items {
    grid-template-columns: auto;
    gap: 25px;
    justify-content: center;
    position: relative;
  }
  .f-products p {
    font-size: 4vw;
  }
  .f-products .f-prh1{
    font-size: 8vw;
  }
  .items .div {
    width: 56vw;
    height: 79vw;
  }
  .div .product {
    font-size: 4.6vw;
  }
  .div .brand {
    font-size:4.4vw;
  }
  .div .price {
    font-size: 3.4vw;
    letter-spacing: 0px;
  }
  .page2 .banner_page2 h1:nth-child(1) {
    font-size: 4vw;
  }
  .page2 .banner_page2 h1:nth-child(2) {
    font-size: 4vw;
  }
  .page3 .new-arr p {
    font-size: 3.6vw;
  }
  .page3 .items {
    grid-template-columns: auto;
  }

  .page4 .newsletter .sign_up {
    font-size: 3vw;
  }
  .page4 .newsletter {
    gap: 10px;
  }
  .newsletter .updates input {
    font-size: 2.5vw;
    width: 60vw;
    padding: 2vw 1vw;
  }
  .newsletter .updates {
    gap: 3vw;
  }
  .newsletter .updates h1 {
    font-size: 3.2vw;
  }
  .newsletter .updates a {
    right: 0%;
    padding: 2vw;
    font-size: 2.5vw;
  }
  .footer .styl1 {
    font-size: 3vw;
    letter-spacing: 1px;
  }
  .page4 .footer .cont {
    height: 35vh;
  }
  .page4 .footer {
    gap: 2px;
  }
 .page4 .footer .cont{
height: 45vh;
  }
  .footer #div4 .download img{
    width: 28vw;
  }
  .footer .styl2 {
    font-size: 3vw;
    letter-spacing: 0px;
  }
  .s_page1 .items {
    grid-template-columns: auto;
    padding: 15vw 0;
  }
  .s_page1 .items .div {
    width: 55vw;
    height: 87vw;
  }
  .s_page1 .pagination {
    transform: translateX(15vw);
    width: 25vw;
    margin-top: 6vw;
  }
  .pagination .page {
    width: 100%;
    height: 6vh;
    background-color: seagreen;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    color: white;
    cursor: pointer;
  }
  .s_page2 .footer #div4 .download img {
    gap: 10px;
  }
  .s_page2 .footer #div4 .download img {
    width: 20vw;
  }
  .s_page2 .footer #div4 .payment img {
    width: 35vw;
  }
  .s_page1 .cont{
    padding: 10vw 6vw;
   }
   .s_page1 .cont .img_cont{
    width: 70%;
    height: 60vh;
   }
.s_page1 .cont{
  flex-direction: column;
  padding: 0 4vw;gap: 15px;
 margin-top:24vw;align-items: center;
}
.s_page1 .cont .img_cont{
  width: 100%;height: 75vh;
}
.s_page1 .cont .details{
  width: 100%;
}
.s_page1 .cont .details h1:nth-child(1){
  font-size: 4vw;
}
.s_page1 .cont .details h1:nth-child(2){
  font-size: 5.5vw;
}
.s_page1 .cont .details h1:nth-child(3){
  font-size: 3.8vw;
}
.s_page1 .cont .details select{
  font-size: 3vw;width: 30%;
}
.s_page1 .cont .details .size a{
  font-size: 4vw;
  padding: 1.8vw;
}
.s_page1 .cont .details p{
  font-size: 4vw;
}
.s_page2 .footer #div4 .download img{
  width: 28vw;
}
.s_page2 .footer .styl1{
  font-size: 3.7vw;
}
.s_page2 .footer{
padding-left:  2vw;justify-content: center;
  align-items: center;
}
.s_page2 .footer .styl2{
  font-size: 3vw;
}
}
@media screen and (max-width: 376px) {
  .page2 .f-products .items {
    grid-template-columns: auto;
  }
  .page2 .f-products .f-prh1 {
    font-size: 8vw;
  }
  .page2 .f-products p {
    font-size: 4vw;
  }
  .items .div {
    width: 60vw;
    height: 92vw;
  }
  .div .brand {
    font-size: 4vw;
  }
  .div .product {
    font-size: 5vw;
  }
  .div .price {
    font-size: 4vw;
  }
  .page3 .new-arr .arrival {
    font-size: 8vw;
  }
  .page3 .new-arr p {
    font-size: 4vw;
  }
  .page3 .items {
    grid-template-columns: auto;
  }
  .items .div {
    width: 60vw;
    height: 92vw;
  }
}